.background{
    background-color: #EDEDED;
}
.logo{
    width: 50px;
    background-color: #FFCC00;
    padding: 5px;
}
.logoBackground{
    background-color: #FFCC00;
    font: 1.2em "Hind Vadodara";
    font-size: 24px;
}